.popup__input {
margin: 0 36px;
width: 358px;
height: 27px;
border: 0;
box-sizing: border-box;
border-bottom: 1px solid #000000;
background-color: transparent;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
}

.popup__input:first-of-type {
  margin-bottom: 30px;
}

@media (max-width: 550px) {
.popup__name {
  width: 238px;
  margin: 0 22px 30px;
}
}
