.popup__name {
  margin: 0 36px 30px;
  width: 358px;
  height: 27px;
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #000000;
  opacity: 0.2;
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

