.elements {
  margin: 50px auto 0;
  padding: 0;
  display: grid;
}

@media (max-width: 880px) {
  .elements {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 450px) {
  .elements {
    margin-top: 36px;
  }
}
