.elements__list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
}

@media (max-width: 880px) {
  .elements__list {
    max-width: 95.7%;
  }
}

@media (max-width: 450px) {
  .elements__list {
    gap: 19px;
  }
}

@media (max-width: 320px) {
  .elements__list {
    max-width: 100%;
  }
}